.mypage {
  margin: 40px auto;
  padding: 0 20px;
}

.mypage__title {
  color: #888;
  font-size: 14px;
  margin-bottom: 20px;
}

.mypage__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px 0px;
}

/* .mypage__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
} */

.mypage__avatar-img {
  max-width: 100px;
    /* 横幅が大きい場合は200pxまでに縮小 */
  height: auto;
  border-radius: 50%;
}

.mypage__username {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  flex-grow: 1;
}

.mypage__edit-btn {
  padding: 8px 16px;
  border: 1px solid #f66;
  color: #f66;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.mypage__edit-btn:hover {
  background-color: #f66;
  color: #fff;
}

.mypage__tabs {
  display: flex;
  margin: 20px 0 20px;
  border-bottom: 2px solid #eee;
}

.mypage__tab {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s, color 0.3s;
}

.mypage__tab.active {
  border-color: red;
  color: red;
}
