/* app全体を縦方向のフレックスにしてヘッダーを上に固定 */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 画面全体の高さ */
}

.content {
  flex: 1;
  min-height: 100vh;
  padding-top: 140px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e5e97c;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header img {
  height: 40px;
}

.header__heading {
  color: #fff;
  font-size: 20px;
  margin: 0;
}
